html, body { height: 100% }



button.close {
    background-color:#dc3545;
    color:white;
}
button.close:hover{
    
    background-color:#dc3545;
    color:white;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    opacity: 1;
    color: #000;
  }


  button.close:active{
    
    background-color:green;
    color:white;
    border-color:blue;
}

#basic-typeahead-single{
    color:"green"
}

table {
    color:"red"
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.my-modal {
    width: 55vw;    /* Occupy the 90% of the screen width */
    max-width: 55vw;
} 

.footer{
    text-align: center;
    font-style: italic;
    border-top: #069697 solid 1px;
    padding:1rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size:1rem;
  }

  a{
      color:black;
  }
  a:hover{
      color: #069697
  }

  