.btn-xxs {
  padding: 1px 1px;
  font-size: 1.0rem;
}



.storageEditInput{
  width: 90%;
}

.tableTextCenter{
  text-align: center;
}

.myNavItem{
  color: white !important;
  font-weight: bold !important;
  font-size: large !important;
}

.myNavItemActive{
  color: #069697 !important;
  font-weight: bold !important;
  font-size: large !important;
}

.myNavItem:hover{
  color: #069697 !important
}