.btn-xxs {
  padding: 1px 1px;
  font-size: 1.0rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding:0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;

}

.storageEditInput{
  width: 90%;
}

.tableTextCenter{
  text-align: center;
}